.wrapper-section-one .hero-section {
  display: flex;
  justify-content: center;
}

.hero-section .hero-section-left {
max-width: 600px;
padding-top: 80px;
text-transform: capitalize;
}

.hero-section .hero-section-left h2 {
font-size: 52px;
}

.hero-section .hero-section-left button {
padding: 20px 30px;
box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
border: none;
border-radius: 4px;
font-weight: 700;
}

.hero-section .hero-section-left .btn-red {
background-color: #fd1015;
color: #fff;
}

.hero-section .hero-section-left .btn-white {
background-color: #fff;
margin-left: 20px;
color: #fd1015;
}

.hero-section .hero-section-left p{
padding: 30px 0px 20px 0px;
}

.hero-section .hero-section-right img {
width: 350px;
border-radius: 6px;
}

.wrapperButton {
  display: flex;
}

.wrapperButton .actionButton {
  margin-right: 20px;
}